<div class="login">
  <form class="login__form">
    <h1 class="login__title">{{title}}</h1>

    {{#each fields}}
      <div class="field">
        <p class="field__label">{{label}}</p>
        <input class="field__input" name="{{name}}" type={{type}} />
      </div>
    {{/each}}

    <div class="login__buttons">
      <button
        type="submit"
        class="button button_color-secondary"
      >{{button2}}</button>
      <a href="/sign-in" class="button button_border-secondary">{{button1}}</a>
    </div>
  </form>
</div>