<div class="profile">
  <a class="back-btn" href="/">
    <img class="back-btn__image" src="{{backIcon}}" />
  </a>

  <form class="profile__form">
    <div class="profile__header">
      <div class="upload">
        <img class="upload__image" id="upload-preview" />
        <label class="upload__label">
          <input
            name="avatar"
            class="upload__input"
            type="file"
            accept="image/*"
          />
        </label>
      </div>
      <div>
        <button class="button button_color-secondary">{{logOut}}</button>
      </div>
    </div>

    {{#each fields}}
      <div class="field field_dark">
        <p class="field__label">{{label}}</p>
        <input class="field__input" name="{{name}}" type={{type}} />
      </div>
    {{/each}}

    <div class="profile__footer">
      <button
        type="submit"
        class="button button_color-secondary"
      >{{save}}</button>
      <a
        href="/change-password"
        class="button button_color-primary"
      >{{changePassword}}</a>
    </div>
  </form>
</div>